*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');


body{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}


header, footer{
    background: #003e7e;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    position: relative;
    justify-content: flex-start;
}

.logo{
    background: white;
    max-width: 14rem;
    margin: 1rem;
}

.logo>img{
    max-width: 100%;
}

.name{
    width: 100%;
    text-align: center;
    font-size: clamp(1.4rem, 4vw, 2.4rem);
    color: white;
    font-weight: 700;
}

footer{
    bottom: 0;
    width: 100%;
    color: white;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content{
    background: #ebebeb;
    width: min(40rem, 70%);
    height: 20rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer{
    height: 6rem;
    padding: 3rem;
}

button{
    border: .2rem solid #ffc325;
    background: #003e7e;
    width: 9rem;
    height: 3rem;
    color: white;
}

@media (min-width: 1150px){
    .name{
        position: absolute;
    }
}