* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
body {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

header,
footer {
    background: #003e7e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

header {
    position: relative;
    justify-content: flex-start;
    box-shadow: 0 .3rem 1.6rem rgba(0, 0, 0, 0.4);
}

.logo {
    background: white;
    max-width: 14rem;
    margin: 1rem;
}

.logo>img {
    max-width: 100%;
}

.name {
    width: 100%;
    text-align: center;
    font-size: clamp(1.4rem, 4vw, 2.4rem);
    color: white;
    font-weight: 700;
}

footer {
    bottom: 0;
    width: 100%;
    color: white;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    background: #ebebeb;
    width: min(40rem, 86%);
    height: 15rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset -.3rem -.3rem .6rem rgba(0, 0, 0, .1), inset .3rem .3rem .6rem rgba(0, 0, 0, 0.1);
}

.content2 {
    /* width: min(50rem, 90%); */
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer {
    height: 6rem;
    padding: 3rem;
    box-shadow: 0 -.3rem 1.6rem rgba(0, 0, 0, 0.4);
}

.info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #003e7e;
}

.dropper {
    transition: box-shadow .1s ease-in;
    /* box-shadow: .3rem .3rem .6rem rgba(0, 0, 0, .1); */
    width: 100%;
    display: flex;
}

.drop-area {
    transition: box-shadow .1s ease-in;
    box-shadow: .3rem .3rem .6rem rgba(0, 0, 0, .1);
    width: 50%;
}

.drop-area:nth-child(1) {
    margin-right: .5rem;
}

.drop-area:nth-child(2) {
    margin-left: .5rem;
}

.drop-area:hover {
    box-shadow: .1rem .1rem .2rem rgba(0, 0, 0, .1);
}

.dragger {
    border: 2px dashed rgba(241, 134, 134, 0.774);
}

.dropzone {
    border: none!important;
    height: 9rem!important;
}

.dz-progress{
    visibility: hidden;
}
.dz-image{
    background: none!important;
}
.dz-preview, .dz-size{
    width: 100%;
}


[name='file']{
    margin: 2rem auto;
} */

.dropzone .dz-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* text-align: center; */
    margin: 0!important;
}

#finder {
    border: .2rem solid #ffc325;
    background: #003e7e;
    color: white;
}

#download {
    border: .2rem solid #ffc325;
    background: #003e7e;
    z-index: 1;
    color: white;
    position: absolute;
    align-self: center; 
    display: none;
    top: clamp(6.2rem, 20vw, 8rem);
}

button{
    width: 7rem;
    height: 2.5rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}

.fg:nth-child(2){
    margin-top: 1rem;
}

.fg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#name, #password{
    width: 100%;
    height: 3rem;
    border-radius: .4rem;
    font-size: 1.2rem;
    padding: .5rem;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.082);
    color: white;
    outline:none;
}

#name:focus, #password:focus{
    border: 2px solid white;
    box-shadow: 0 0 .6rem .2rem rgba(255, 255, 255, 0.4);
}

#login_submit{
    width: 100%;
    background: white;
    color: #003e7e;
    border: none;
    outline: none;
    height: 3rem;
    margin-top: 2rem;
    font-size: 1.1rem;
}

#login_submit:focus{
    outline:1px solid white;
    border: 2px solid #003e7e;
}

#login_submit:active{
    background-color: #003e7e;
    color: white;
}

label{
    width: 100%;
    text-align: left;
    margin: .3rem;
    font-size: .9rem;
}

.drop-area {
    background: white;
}


#login_form{
    height: 50%;
    display: block;
    text-align: center;
}

@media (min-width: 350px) {
    .content{
        height: 24rem;
    }

    button{
        width: 9rem;
        height: 3rem;
    }

    .dropzone {
        height: 13rem!important;
    }
}

@media (min-width: 1150px) {
    .name {
        position: absolute;
    }
}



@keyframes shakeX {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
    }
  }
  
  .shakeX {
    animation: shakeX .5s cubic-bezier(0.03, 0.54, 1, 0.42);
  }

  @keyframes slideInDown {
    from {
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInDown {
    animation: slideInDown .5s cubic-bezier(0.03, 0.54, 1, 0.42);
  }

  @keyframes slideOutUp {
    from {
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      transform: translate3d(0, -100%, 0);
    }
  }
  
  .slideOutUp {
    animation: slideOutUp .5s cubic-bezier(0.03, 0.54, 1, 0.42);
  }